
html {
  display: block;
}

body {
  background-color: #010165;
  margin: 0px;
  max-width: 846px;
  margin: 0 auto;
}

.header {
  background-color: #00ffff; 
  text-align: center;
}



.title-row {
  margin-top: 42px;
  text-align: center;
  margin-bottom: 21px;
  
}

.instructions-title{
  display: inline;
  font-size: 18px;
  color: #00ffff;
  font-family: Work Sans;
  
}

.instructions-number {
  padding-right: 25px;
  font-family: Work Sans;
  font-size: 36px;
  color: #00ffff;
}

.instructions-text {
  padding: 10px;
  font-family: Work Sans;
  font-size: 14px;
  color:#ffffff ;
  
}


.instructions-row {
  margin: 0px auto;
  width: 400px;
}

.door-row {
  text-align: center;
  margin: 0 auto;
  
   
}

.door-frame  {
  cursor: pointer;
  padding: 10px;
  
}


.start-row {
  cursor: pointer;
  margin:auto ;
  width: 120px;
  height: 43px;
  font-family: Work Sans;
  background-color:  #eb6536;
  padding-top: 18px;  
  font-size: 18px;
  text-align: center;
  color: #010165;
  margin-bottom: 21px;
}

#counters {
  text-align: center;

}

#win, #lose , #current-streak , #best-streak{
  
  margin-right: 10px;
  width: 120px;
  height: 43px;
  font-family: Work Sans;
  background-color:  #32b0e2;
  padding: 18px;  
  font-size: 18px;
  text-align: center;
  color: #010165;
  
 
  
}